/* Custom styles to match the Theme */
//@import '/zysky-app/src/assets/css/colors';
//@import '/zysky-app/src/assets/css/input';




/*colors*/
$primary: #0097B2;
$primary-dark: darken($primary, 20%);
$green : #82BC56;
$yelloish-green: #BDD35F;
$icon-color: #81829E;
$red: #FF0000;


img{width:100%; height: auto; display: block;}

*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
  }
  *,*:focus,*:hover{
    outline:none !important;
    }
  
  .bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .text-center {text-align: center !important;}

  .link{color:$primary; text-decoration: underline;}
  h2{font-family: "Poppins", sans-serif !important;}
  

/*============================== start- login===========================*/




/*============================== end- login===========================*/



/*====================modal======================*/



.modal-box {
    left: 0;
    position: fixed;
    z-index: 999;
    background-color: rgb(0 0 0 / 60%);
    top: 0;
    right: 0;
    bottom: 0;
}

.my-modal {
    position: fixed;
    //background-color: #fff;
    left: 50%;
    top: 40px;
    border-radius: 4px;
    padding: 2%;

    .modal-body {
        display: block;
        width: 100%;
        height: 400px;
        overflow-y: scroll;
        margin-top: 26px;
    }
}

.my-modal-container {
    position: relative;
    //background-color: $white;
    margin-top: 25vh;
    margin-left: 35vw;
    //border: 1px solid $lighter-grey;
    width: 30vw;
    border-radius: 5px;
    min-height: 450px;
}


.my-modal-content {
    margin: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.my-model-close {
    position: absolute;
    top: 5px;
    right: 5px;

    button {
        background-color: transparent;
        width: 30px;
        height: 30px;
        display: contents;
    }

    i {
        font-size: 30px;
        color: $primary;

        &:hover {
            color: $primary-dark
        }
    }
}

@media (max-width: 767px) {
    .modal-lg {
        max-width: 60%;
        margin-left: -30%;
    }

    .modal-sm {
        max-width: 90%;
        margin-left: -45%;
    }
}

@media only screen and (min-width: 768px) {
    .modal-lg {
        max-width: 60%;
        margin-left: -30%;
    }

    .modal-sm {
        max-width: 50%;
        margin-left: -25%;
    }
}

@media only screen and (min-width: 1200px) {

    .modal-sm {
        max-width: 26%;
        margin-left: -13%;
    }
}




/*===================end Modal===================*/


/*===========Custom Input=====================*/


.input-icon{display: flex;
    flex-direction: row-reverse;
    position: relative;
    top: -56px;
    right: 2px;
    height: 8px;
i{font-size: 2.2rem; color: $icon-color;}
}
.form-control {
    border-radius: 16px !important;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4)!important;
}
.form-control {
    padding: 1rem .9rem !important;}

/* This is to remove the arrow of select element in IE */
select::-ms-expand {
    display: none;
  }
  
  select {
    -webkit-appearance: none;
    appearance: none;
  }
  
  .customselect select {
    background: transparent;
    width: 100px;
    padding: 5px;
    border: 0;
    border-radius: 0;
    height: 30px;
  }
  .customselect {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMy4wNiAxNi4wNkMxMi43Nzg4IDE2LjM0MDkgMTIuMzk3NSAxNi40OTg3IDEyIDE2LjQ5ODdDMTEuNjAyNSAxNi40OTg3IDExLjIyMTMgMTYuMzQwOSAxMC45NCAxNi4wNkw1LjI4MjAyIDEwLjQwNEM1LjAwMDc2IDEwLjEyMjYgNC44NDI4IDkuNzQxMDEgNC44NDI5IDkuMzQzMTVDNC44NDI5OSA4Ljk0NTI5IDUuMDAxMTMgOC41NjM3NyA1LjI4MjUyIDguMjgyNUM1LjU2MzkyIDguMDAxMjQgNS45NDU1MiA3Ljg0MzI4IDYuMzQzMzggNy44NDMzOEM2Ljc0MTIzIDcuODQzNDcgNy4xMjI3NiA4LjAwMTYxIDcuNDA0MDIgOC4yODNMMTIgMTIuODc5TDE2LjU5NiA4LjI4M0MxNi44Nzg4IDguMDA5NjMgMTcuMjU3NiA3Ljg1ODI2IDE3LjY1MDkgNy44NjE0OUMxOC4wNDQyIDcuODY0NzIgMTguNDIwNSA4LjAyMjMgMTguNjk4OCA4LjMwMDI4QzE4Ljk3NyA4LjU3ODI2IDE5LjEzNDkgOC45NTQ0MSAxOS4xMzg1IDkuMzQ3N0MxOS4xNDIxIDkuNzQxIDE4Ljk5MTEgMTAuMTIgMTguNzE4IDEwLjQwM0wxMy4wNjEgMTYuMDYxTDEzLjA2IDE2LjA2WiIgZmlsbD0iI0U2RTZFNiIvPgo8L3N2Zz4K);
    background-repeat: no-repeat;
    border: 0px solid white;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    overflow: hidden;
    background-size: 24px 24px;
    background-position-x: right;
    background-position-y: center;
    box-shadow: 0px 0px 22px #ccc;
    position: fixed;
    right: 18px;
    top: 20px;
    }


    /*==================Buttons=====================================*/
    .btn-success{background-color: $yelloish-green !important; border: 2px solid $yelloish-green !important;}
    .btn-outlined{background-color: #fff !important; border: 2px solid $yelloish-green !important;}
    .btn{box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4)!important;}


    .float-right{float: right;}
    .p-t-30{padding-top: 30px;}
    .m-l-15{margin-left: 15px;}
    .m-b-20{margin-bottom: 20px;}
    .m-b-30{margin-bottom: 30px;}
    .p-b-20{padding-bottom: 20px;}
    .p-b-30{padding-bottom: 30px;}

    .footer{position: fixed;left:0; right: 0; bottom: 0; z-index: 99;}
    .footer-content{background-color: #3B3B3B;
        padding: 20px;
        display: flex;
        align-items: center;
        color: #fff;
        text-align: center;
        flex-wrap: nowrap;
        justify-content: center;align-items: center;}

    .fieldset{border: 1px solid #999; display: block; position: relative;  padding: 40px;}
    .legend{position: absolute; left: 0; margin-top: -55px; background-color: #fff;}
    .form-floating{padding-bottom: 20px;}
    .form-floating>.form-control:not(:placeholder-shown)~label::after{font-size: 9px;}
    .checkbox-fl{float: left; padding: 7px;}

    /*=============================Layout===================================*/
    

body
{
  margin: 0;
  padding: 0;
  background: #666;
}

a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: relative;
  left: 0;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  background-color: #fff;
}

#menuToggle input
{
  display: block;
  width: 140px;
  height: 52px;
  position: absolute;
  top: 0px;
  left: 6px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
/* #menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
} */

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  //transform: rotate(45deg) translate(-2px, -1px);
  //background: #232323;
}

/*
#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 1;
    transform: rotate(-49deg) scale(1, 1);
}
#menuToggle input:checked ~ span:nth-child(2)
{
    opacity: 0;
} */

/*
#menuToggle input:checked ~ span:nth-last-child(1)
{
  transform: rotate(-45deg) translate(0, -1px);
} */

#menu
{
  position: absolute;
  width: 250px;
  margin: 0 0 0 0;
  padding: 0;
  background: #fff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(0, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 5px;
  font-size: 22px;
  text-align: left;
  i{color: $yelloish-green; font-size: 28px; float: left;}
  a{color:#000; text-decoration: none; display: flex} 
  span{float: left;
    padding: 10px;
    background: transparent;}
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ #menu
{
  transform: none;
  width: 200px;
  left: 0;

  li span{display: none;}
}

#menuToggle input:checked ~ div.content
{
  transform: none;
  transition: transform 0.5s ease-in;
  left:50px;
  width: calc(100% - 50px);
}
#menuToggle input:checked ~ div.dashbord-logo{width: 50px; height: 63px; display: flex;
  justify-content: center;
  flex-direction: column;
}

.content{
  top:0;
  position: absolute;
  transform: translateX(50px);
  margin-left: 0;
  transition: transform 0.5s ease-out;
  background-color: #e1e1e1;
  height: 100vh;
 left: 200px;
  right:0;
  width: calc(100% - 250px);
}
.layout-container{position: fixed;
    background-color: #f6f6f6;
    left: 0;
    width: 100%;
    top: 0;
    height: 100vh;}
   
.content{padding: 20px; background-color: #F4F4F4;}   
.content-container{padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  overflow-y: scroll;
    height: 80vh;
}
.dashbord-logo{width: 150px;}
.header{background-color: transparent;
  padding-bottom: 8px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 22px;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.btn-red{background-color: $red !important; color: #fff !important;}
.btn-red-outline{border: 2px solid $red !important; color: $red !important;}
.number{padding: 6px; background-color: $yelloish-green; color: #fff;
  display: inline-block;
  border-radius: 10px;
  min-width: 50px;
  font-size: 26px;
}
.yelloish-green{color:$yelloish-green !important}